.MyTvsRow{
    background-color: rgb(224, 208, 28);
    margin: 4px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}

.MyTvsCol{
    margin: 5px;
    background-color: rgb(184, 99, 118);
    height: 100px;
    text-align: center;
    min-width:500px; 
    width: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} 

.MyTvsCol1{
    background-color: rgb(177, 81, 131);
    height: 100px;
    margin: 5px;
    min-width:500px; 
    width: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}